/* CSS Document */
* /

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: left;
	background: #FFFFFF;
	color: #FFFFFF;
	font: 14px Georgia;
	height: 100%;
	line-height: 180%;
	background: url(../img/header.jpg) repeat-x left top;
}

h1,h2,h3,h4,h5 {
	margin: 0px;
	padding: 0px;
	line-height: 180%;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 12px;
}

p,ul {
	margin-top: 0px;
	line-height: 180%;
	color: black;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	vertical-align: top;
	border: none;
}

#header {
	text-align: left;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	/*		border-bottom:5px solid #FF0000;
*/
}

#header_content {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 980px;
	text-align: left;
}

#logo {
	display: block;
	width: 315px;
	float: left;
	padding-left: 55px;
	height: 92px;
}

#logo img {
	width: 200px;
	float: left;
	padding-left: 10px;
}

#search {
	float: right;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	padding: 27px 35px 0 0;
	width: 400px;
}

.searchbox {
	background: url(../img/search01.jpg) no-repeat scroll left top;
	border: 1px solid #000000;
	float: left;
	width: 221px;
	height: 19px;
	font-size: 10px;
	margin: 0 0 0 5px;
	padding: 0 0px 11px;
}

#search-text {
	background: none;
	border: none;
	color: #838383;
	font: 14px normal Georgia, "Times New Roman", Times, serif;
	padding: 7px 0 7px 3px;
	width: 192px;
}

.searchbtn {
	background: url(../img/search02.jpg) no-repeat scroll center center;
	border: 1px solid #000000;
	float: left;
	width: 62px;
	height: 19px;
	margin: 0 0 0 5px;
	padding: 0 0 11px;
}

#search-submit {
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font: 14px normal Georgia, "Times New Roman", Times, serif;
	padding: 6px 8px;;
}

#login-press {
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font: 14px normal Georgia, "Times New Roman", Times, serif;
	padding: 6px 8px;;
}

#menu {
	float: right;
	display: block;
	margin: 0;
	width: 750px;
}

#menu li {
	text-decoration: none;
	list-style: none;
	color: #FFFFFF;
	float: left;
	padding: 0px 8px 0px;
}

#menu .active_menu a {
	background: url(../img/menu.png) no-repeat center top;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(../img/menu.png) no-repeat center top;
	color: #FFFFFF;
}

#menu a {
	color: #FFFFFF;
	display: block;
	font: 12px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0 15px;
	text-decoration: none;
}

#page {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}

#content {
	margin: 0 auto;
	width: 850px;
	padding: 0;
}

.post {
	margin-bottom: 5px;
	background: #FFFFFF;
	min-height: 240px;
}

.post .h1_title {
	background: url("../img/p1.png") no-repeat scroll left top transparent;
	height: 77px;
	margin-bottom: -30px;
	margin-left: 25px;
	margin-top: 10px;
}

.post .title {
	height: 77px;
	margin-bottom: -30px;
	margin-left: 25px;
}

.post .h1_title a {
	border: none;
	float: left;
	text-decoration: none;
	letter-spacing: -1px;
	margin-left: 43px;
	color: #1c617a;
}

img.alignleft {
	float: left;
	margin-right: 15px;
}

img.border {
	border: 5px solid #d7d7d7;
}

.post .entry strong {
	margin-right: 8px;
	font: 12px Georgia;
	font-weight: bold;
	color: #000000;
	line-height: 140%;
	text-align: justify;
}

.post .entry .black {
	margin-right: 8px;
	font: 12px Georgia;
	font-weight: normal;
	color: #000000;
	line-height: 140%;
	text-align: justify;
}

.post .h3_title {
	margin-left: 25px;
	background: url(../img/p2.png) no-repeat left top;
	height: 77px;
}

.post .h3_title a {
	float: left;
	margin-top: 7px;
	text-decoration: none;
	letter-spacing: -1px;
	margin-left: 35px;
	border: none;
	color: #000000;
}

.post .h3_title .a {
	margin-left: 290px;
	text-align: center;
	width: 50px;
	padding-top: 5px;
	background: url(../img/image06.png) no-repeat right top;
	height: 50px;
}

.post .meta {
	float: left;
	margin-left: 63px;
	margin-top: -40px;
	font: 14px normal Georgia;
	color: #ff6000;
}

.post .meta img {
	float: right;
}

.post .entry p {
	color: #5E5D5D;
	font: 12px/140% Georgia;
	margin-right: 8px;
	padding-left: 25px;
	text-align: justify;
	margin-top: 12px;
}

.post .entry .pa1 {
	color: #5E5D5D;
	font: 12px/140% Georgia;
	margin-right: 8px;
	padding-left: 25px;
	text-align: justify;
	margin-top: -16px;
}

.more {
	background: url(../img/image07.png) no-repeat left top;
	color: #ff6000;
	display: block;
	float: right;
	font: 12px Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	text-transform: uppercase;
	height: 40px;
	width: 143px;
	padding: 0 20px 0 0;
	line-height: 31px;
	text-align: center;
}

.more a:hover {
	text-decoration: underline;
}

/*Sidebar*/
#sidebar {
	float: right;
	width: 305px;
}

#sidebar img {
	
}

#sidebar ul {
	margin: 0px;
	padding: 0;
	list-style: none;
	line-height: 165%;
}

#sidebar #cat {
	display: block;
	background: url(../img/cat.png) no-repeat left top;
}

#sidebar #re {
	display: block;
	background: url(../img/re.png) no-repeat left top;
}

#sidebar #ar {
	display: block;
	background: url(../img/ar.png) no-repeat left top;
}

#sidebar li ul {
	margin: 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	padding-bottom: 2px;
}

#sidebar h2 {
	color: #000000;
	margin-top: 25px;
	margin-left: 25px;
	padding-bottom: 5px;
	letter-spacing: -.5px
}

#sidebar ul li li {
	margin-left: 55px;
	list-style: url(../img/arrow01.png);
	background: none;
}

#sidebar a {
	text-decoration: none;
	font: 14px Georgia;
	color: #3d505d;
}

#sidebar a:hover {
	text-decoration: none;
}
/*Footer*/
#footer {
	background: url(../img/img07.gif) repeat-x left bottom;
	font: 14px Georgia;
	color: #FFFFFF;
	line-height: 180%;
	height: 57px;
}

#footer .foot_title {
	margin: 0 auto;
	padding-top: 7px;
	width: 980px;
	font: 30px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#footer h1 {
	
}

#footer h1 a {
	text-decoration: none;
	color: #FFffff;
}

#footer h1 a:hover {
	text-decoration: none;
}

#footer a {
	text-decoration: none;
	color: #DEB887;
}

#footer a:hover {
	text-decoration: none;
}

#footer .p1 {
	color: #3D505D;
	float: right;
	font: 14px/180% Georgia;
	margin-top: 25px;
	width: 300px;
}

#footer .p2 {
	color: #3D505D;
	float: right;
	font: 14px/180% Georgia;
	margin-right: -299px;
	margin-top: 52px;
	width: 300px;
}

#mainContent {
	background: url(../img/backG.jpg) repeat left top;
}

#aboutUsBody {
	background: url(../img/trucking.jpg) repeat left top;
	background-size: 130% 100%;
}

#serviceBody {
	background: url(../wowSlider/data/images/bh_hang_hai.jpg) repeat left
		top;
	background-size: 130% auto;
}

#networkBody {
	background: url(../img/network2.jpg) repeat left top;
	background-size: 130% auto;
}

#aboutUs {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}

#aboutUsContent {
	margin: 0 auto;
	width: 850px;
	padding: 0;
}

#contactUsBody {
	background: url(../img/backG.jpg) repeat left top;
	background-size: 150% 120%;
}

.content4-g {
	background-color: #EAEAEC;
	float: left;
	padding: 15px 15px 15px 10px;
	width: 825px;
}

.post .entry .content_services {
	width: 498px;
	padding-left: 20px;
}

#contactSeparator {
	border-top: 1px solid #E7E7E7;
	clear: both;
	height: 10px;
	margin-left: 30px;
	width: 800px;
}